# Arquivo de configurações sensíveis
# .env

# Arquivo de log gerado pelo script
sincronizacao.log

# Dependências do Composer
/vendor/

# Arquivo de lock do Composer (se quiser versionar, remova esta linha)
/composer.lock

# Diretórios de cache e temporários
/cache/
/tmp/

# Arquivos de IDEs e editores
/.idea/
/.vscode/
/*.sublime-*

# Arquivos de build e testes
/build/
/coverage/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Outros arquivos comuns
*.log
*.cache
*.bak
*.swp
*~
dump.rdb
